<script src="https://kit.fontawesome.com/96eff089c3.js" crossorigin="anonymous"></script>
<main role="main" class="container">
    <div class="starter-template">
      <h1>Buzzer</h1>
      <a href="http://linkdawikipedia.com"><i class="fab fa-wikipedia-w"></i></a>
      <a href="https://www.youtube.com/results?search_query={{ componente }}"><i class="fab fa-youtube"></i></a>
      <p class="lead">Buzzer: é um componente eletrônico que é composto por 2 camadas de Metal e uma terceira camada interna de cristal Piezoeléctrico, este componente recebe uma fonte de energia e através dela emite uma frequência sonora.
        Buzzer está presente em diversos tipos de aparelhos, como despertador, Carros e até em computadores, que quando ligado emite um Beep informando que a memória foi reconhecida</p>
      <iframe id="ytplayer" type="text/html" width="640" height="360"
        src="https://www.youtube.com/embed/esMnme69t2M"
        frameborder="0" allowfullscreen></iframe>
    </div>  
</div>