<script src="https://kit.fontawesome.com/96eff089c3.js" crossorigin="anonymous"></script>
<main role="main" class="container">
    <div class="starter-template">
      <h1>Jumpers</h1>
      <a href="http://linkdawikipedia.com"><i class="fab fa-wikipedia-w"></i></a>
      <a href="https://www.youtube.com/results?search_query={{ componente }}"><i class="fab fa-youtube"></i></a>
      <p class="lead">Bla bla bla blé blé blé blo blo blo bli bli bli blu blu blu.</p>
      <iframe id="ytplayer" type="text/html" width="640" height="360"
        src="https://www.youtube.com/embed/esMnme69t2M"
        frameborder="0" allowfullscreen></iframe>
    </div>  
</div>