<script src="https://kit.fontawesome.com/96eff089c3.js" crossorigin="anonymous"></script>
<main role="main" class="container">
    <div class="starter-template">
      <h1>LEDs</h1>
      <a href="http://linkdawikipedia.com"><i class="fab fa-wikipedia-w"></i></a>
      <a href="https://www.youtube.com/results?search_query={{ componente }}"><i class="fab fa-youtube"></i></a>
      <p class="lead">LED: significa diodo emissor de luz. Trata-se de um componente eletrônico capaz de emitir luz visivel transformando energia elétrica em energia luminosa.</p>
      <iframe id="ytplayer" type="text/html" width="640" height="360"
        src="https://www.youtube.com/embed/esMnme69t2M"
        frameborder="0" allowfullscreen></iframe>
    </div>  
</div>