<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">

  <title>WebCar</title>
  <meta name="description" content="WebCar">
  <meta name="author" content="Lucas">

  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class='connectionSection'>
    <button id="connectBtn" type="button" onclick="connect()">Conectar</button>
    <span id="connectIndicator" class="disconnected dot"></span>
  </div>

  <div>
    <button id="led-button">LED</button>
  </div>

  <table id="arrow-table">
    <tr>
      <th></th>
      <th><button id="up-arrow">&uarr;</button></th>
      <th></th>
    </tr>
    <tr>
      <th><button id="left-arrow">&larr;</button></th>
      <th><button id="down-arrow">&darr;</button></th>
      <th><button id="right-arrow">&rarr;</button></th>
    </tr>
  </table>

  <link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles.css') }}">
  <script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
  
</body>
</html>