<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand">🚗 WebCar Educativo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">🏠Início</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/guia">📚Guia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/controle">🎮Controle</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/programacao">👨‍💻Programação</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">⚡Componentes</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="/componentes/dagurover">Dagu Rover</a>
            <a class="dropdown-item" href="/componentes/esp8266">ESP8266</a>
            <a class="dropdown-item" href="/componentes/motorshield">Motor Shield</a>
            <a class="dropdown-item" href="/componentes/jumpers">Jumpers</a>
            <a class="dropdown-item" href="/componentes/buzzer">Buzzer</a>
            <a class="dropdown-item" href="/componentes/motores">Motores</a>
            <a class="dropdown-item" href="/componentes/led">LED</a>
            <a class="dropdown-item" href="/componentes/bateria">Bateria</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sobre">🔎Sobre</a>
        </li>
        </ul>
    </div>
    </nav>