<div role="main">
      <div class="container">
        <h1 class="display-5">Controle</h1>
        <table>
            <thead>
              <tr>
                <th></th>
                <th><button type="button" class="btn btn-dark">⬆️</button></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><button type="button" class="btn btn-dark">⬅️</button></td>
                <td><button type="button" class="btn btn-dark">🔔</button></td>
                <td><button type="button" class="btn btn-dark">➡️</button></td>
              </tr>
              <tr>
                <td></td>
                <td><button type="button" class="btn btn-dark">⬇️</button></td>
                <td></td>
              </tr>
            </tbody>
            </table>
    </div>
</div>